.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  margin: 7rem 0rem 2rem 0rem;
}

.backBtn {
  width: 72%;
  font-size: 1rem;
  font-weight: bold;
  color: #f1f1f1;
  text-decoration: none;
  margin: 1rem 0rem;
}

.shoppingCartItemsListContainer {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.shoppingCartContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.totalAmountContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 90%;
  border-bottom: 2px solid #f1f1f1;
}

.totalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f1f1f1;
}

.totalAmount {
  font-size: 2rem;
  font-weight: bold;
  color: #f1f1f1;
}
