.comicCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 450px;
  margin: 2rem 0rem;
}

.coverCardContainer {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.comicCardCoverImage {
  width: 70%;
  height: 90%;
  border-radius: 0.125rem;
  margin-bottom: 1rem;
}

.comicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comicTitle {
  height: 3rem;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0px 0.5rem;
  color: #f1f1f1;
  text-align: center !important;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.ctaBtn {
  width: 80%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
  color: #f1f1f1;
  background-color: rgba(2, 86, 166);
  cursor: pointer;
}

.counterSpan {
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ed1d24;
  padding: 4px;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #f1f1f1;
  margin: -1.25rem;
}
