.shoppingCartItemContainer {
  display: flex;
  align-items: center;
  background-color: #232323;
  width: 90%;
  height: 300px;
  padding: 1rem;
  margin: 0.5rem 0rem;
  border-radius: 0.125rem;
}

.itemCoverContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.productCover {
  height: 100%;
  border-radius: 0.125rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

.itemInfoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.itemAmountContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.comicCartTitle {
  width: 90%;
  font-size: 1.25rem;
  font-weight: normal;
  color: #f1f1f1;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0px;
}

.comicPrice {
  width: 90%;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f1f1f1;
  text-align: left;
}

.amountButtons {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

.amountBtn {
  width: 30px;
  height: 30px;
  background-color: #ed1d24;
  border: none;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.125rem;
  cursor: pointer;
  outline: none;
}

.amountDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: none;
  color: #171717;
  font-weight: bold;
  font-size: 1.125rem;
  border-radius: 0.125rem;
}

.itemDeleteContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.removeBtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f1f1f1;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px) {
  .shoppingCartItemContainer {
    flex-direction: column;
    height: auto;
  }

  .productCover {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .comicPrice {
    margin-bottom: 1rem;
  }

  .amountButtons {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .amountBtn {
    width: 25px;
    height: 25px;
    background-color: #ed1d24;
    border: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0.125rem;
    cursor: pointer;
    outline: none;
  }

  .itemDeleteContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .removeBtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #f1f1f1;
    text-decoration: underline;
    cursor: pointer;
  }
}
